* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 6;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
  position: relative;
  top: 1.6rem;
}
/* .sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
} */
/* .purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
} */

.title{
  position: relative;
  left: 50px;
}

.btn:hover{
  background: #00bfa6;
}


.area{
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  outline: none;
  position: relative;
  left:3rem;
  width: 95%;
  top:1.2rem;
}
 textarea{
   font-family: 'Montserrat', sans-serif;
   font-size: 0.85rem;

}
.area::placeholder{
font-family: 'Montserrat', sans-serif;
font-size: 1.1rem;
position: relative;
left: 0.5px;
top: 0.2rem;

}



.txt{
  border: none;
  border-radius: 35px;
  background-color:#f0f0f0;
  outline: none;
  position: relative;
  left: 2.5rem;
  width: 87%;
  top:0.01rem;
  height: 40px;
}
.txt::placeholder{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  position: relative;
  left: 2px;
}

.btn {
  width: 65%;
  padding: 1rem 0rem;
  background-color: #20dbc2;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  position: relative;
  height: 52px;
  top:6.3rem;
  left:6.4rem;
}
/* team member */
.ico1{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 42px;
  outline: none;
  background-color: #f0f0f0;
  position: relative;
   left:3rem;
   font-size: 1.1rem;

}
.name{
background-color: #f0f0f0;
border: none;
outline: none;
position:absolute;
top:0.7rem;
left:2.5rem;
height: 20px;
width: 80%;
}
.name::placeholder{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;

}
.part1{
  position: absolute;
  top:0.7rem;
  left:0.9rem;
}
/* search */
.part2{
  position: absolute;
  top:0.8rem;
  left: 1rem;
}
.ico2{
  position: relative;
  top:3rem;
  background-color: #f0f0f0;
  border: none;
  border-radius: 42px;
  outline: none;
  left: 3rem;
  width: 98%;
}
span{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: white;
}

.notes{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.4;
}
.containerall {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.containerall:before {
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #20dbc2 0%, #00bfa6 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 1;
}
